.u-section-1 {
  background-image: url("images/TheHomebrewery-NaturalCrit.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 495px;
}

.u-section-1 .u-text-1 {
  text-shadow: 0px 1px 0px rgba(0,0,0,1);
  box-shadow: -2px 0 0 0 rgba(0,0,0,1);
  font-family: "Bigshot One";
  font-size: 3rem;
  line-height: 1.3;
  background-image: none;
  font-weight: normal;
  margin: 22px 581px 0 -11px;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 7px 570px 0 0;
}

.u-section-1 .u-text-3 {
  line-height: 1.3;
  font-family: "Bigshot One";
  font-size: 3rem;
  text-shadow: 0px 1px 0px rgba(0,0,0,1);
  box-shadow: -2px 0 0 0 rgba(0,0,0,1);
  font-weight: normal;
  margin: 29px 673px 0 -11px;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  margin: 0 398px 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 519px;
  margin: 16px auto 29px 0;
}

.u-section-1 .u-image-1 {
  min-height: 118px;
  background-image: url("images/discord-logo-png-7617.png");
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 10px;
}

.u-section-1 .u-image-2 {
  min-height: 118px;
  background-image: url("images/iDdntscPf-nfWKqzHRGFmhVxZm4hZgaKe5oyFws-yzA.png");
}

.u-section-1 .u-container-layout-2 {
  padding: 18px 30px 27px;
}

.u-section-1 .u-image-3 {
  min-height: 118px;
  background-image: url("images/twitter-logo-300x300.png");
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 30px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 20px;
    margin-right: 370px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 45px;
    margin-right: 446px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 20px;
    margin-right: 165px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 453px;
    margin-top: 40px;
    margin-bottom: 57px;
  }

  .u-section-1 .u-image-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-2 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-3 {
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 588px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 27px;
    margin-right: 139px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 13px;
    margin-right: 350px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 51px;
    margin-right: 168px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 26px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 26px;
    margin-bottom: 53px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 815px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 16px;
    margin-right: -11px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 29px;
    margin-right: 170px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 16px;
    margin-right: 29px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 29px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 270px;
    margin-left: auto;
    margin-bottom: 42px;
  }

  .u-section-1 .u-image-1 {
    min-height: 99px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    min-height: 98px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    min-height: 99px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 17px;
    margin-right: 46px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 9px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    margin-top: 17px;
    margin-right: 81px;
  }

  .u-section-1 .u-text-4 {
    font-size: 0.875rem;
    margin-top: 9px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 111px;
    margin-top: 17px;
    margin-bottom: 44px;
  }

  .u-section-1 .u-image-1 {
    min-height: 79px;
  }

  .u-section-1 .u-image-2 {
    min-height: 74px;
  }

  .u-section-1 .u-image-3 {
    min-height: 79px;
  }
}